[Unit]
Description=Airflow scheduler

[Service]
User=ubuntu
WorkingDirectory={{ airflow_home_dir }}
ExecStart=/bin/bash run-scheduler.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
