[Unit]
Description=Airflow webserver

[Service]
User=ubuntu
WorkingDirectory={{ airflow_home_dir }}
ExecStart=/bin/bash run-webserver.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
