[Unit]
Description=Prefect Worker Service
After=prefect-server.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/demo/prefect
ExecStart=/bin/bash run-worker.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
