[Unit]
Description=CDC streamer service - {{ cdc_target }}

[Service]
User=ubuntu
WorkingDirectory={{ cdc_repo_dir }}
ExecStart=/bin/bash -c 'source .env.{{ cdc_target }} && {{ cdc_env_dir }}/bin/python streamer.py'
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
