export PYTHONPATH=

export AIRFLOW__CORE__DAGS_FOLDER=
export AIRFLOW__CORE__PLUGINS_FOLDER=

export AIRFLOW__CORE__DEFAULT_TIMEZONE=
export AIRFLOW__CORE__EXECUTOR=
export AIRFLOW__CORE__LOAD_EXAMPLES=

export AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE=

export AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
